<h1> The Smart Underwriter</h1>

<p> Simplifying the life of the underwriter through the combination of art and science. </p>
<p> The Smart Underwriter uses technology and AI in every facet of what we do</p>

<%= link_to "Tell me more!", about_path %>
